<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/authors.css" rel="stylesheet">

  <script src="https://cdn.tiny.cloud/1/b3djhg5898pm308mxe9r7uprjt4x6pz7eivf62i36lwkp1dy/tinymce/5/tinymce.min.js"
    referrerpolicy="origin"></script>
  <script>
    tinymce.init({
      selector: '#updateAuthorBiography',
      menubar: false,
      height: '500px',
    });
  </script>
</head>

<body>
  <%- include("../partials/header") %>

  <div class="container">
    <div class="view-author container-content row">
      <div id="sideMenu" class="vertical-scrolling-wrapper side-bar col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <nav class="vertical-container side-menu">
          <ul class="nav">
            <% for (let i = 0; i < authors.length; i++) { %>
            <li <% if ( authors[i]._id.equals(author._id) ) { %> class="active" <% } %>>
              <a href="/authors/<%= authors[i]._id %>"><span class="fa fa-user"></span> <%= authors[i].name %></a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <div class="content-panel col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <% if (userRole === 'admin') { %>
        <div class="edit-button right-button-div">
          <input class="btn btn-outline-dark" type="submit" value="Edit" onclick="updateContent()">
        </div>
        <% } %>
        <div id="article" class="container row text-center">
          <div id="articleContent" class="full-width">
            <img class="card-img-top portrait" src="<%= author.image %>" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= author.name %></h4>
              <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-4">
                </div>
                <div class="card-body dateLabel col-md-6 col-lg-6 col-xl-6">
                  <label><b>Born:</b> <%= author.formattedBirth %></label>
                  <% if(author.formattedDeath) { %><label><b>Died:</b> <%= author.formattedDeath %></label><% } %>
                  <label><b>Nationality:</b> <%= author.nationality %></label>
                  <label><b>Language:</b> <%= author.language %></label>
                  <label><b>Genre(s):</b> <%= author.genre %></label>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2">
                </div>
              </div>
              <div id="biographyDiv">
                <%- author.biography %>
              </div>
            </div>
            <% if (books) { %>
            <div class="horizontal-scrolling-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="card-body horizontal-container">
                <% for (let i = 0; i < books.length; i++) { %>
                <a href="/books/<%= books[i].id %>">
                  <img class="book-image" src="<%= books[i].image %>" alt="">
                </a>
                <% } %>
              </div>
            </div>
            <% } %>
            <% if (author.references) { %>
            <div class="row references-label">
              <label><b>References:</b></label>
              <ul>
                <% for (let i = 0; i < author.references.length; i++) { %>
                <li>
                  <a href="<%= author.references[i] %>"> <%= author.references[i] %></a>
                </li>
                <% } %>
              </ul>
            </div>
            <% } %>
          </div>
          <% if (userRole === 'admin') { %>
          <div id="articleContentUpdate" class="full-width">
            <form action="#" method="post">
              <label class="full-width"><b>Image:</b><input class="full-width form-control" name="updatedAuthorImage"
                  value="<%= author.image %>" oninput="updatePicture(this.value)"></label>
              </br>
              <img id="editImage" class="card-img-top portrait" src="<%= author.image %>" alt="">
              <div class="card-body">
                <h4 class="card-title"><input class="maximum-width form-control" value="<%= author.name %>"
                    name="updateAuthorName">
                </h4>
                <div class="row">
                  <div class="col-md-3 col-lg-3 col-xl-4"></div>
                  <div class="card-body dateLabel col-md-6 col-lg-6 col-xl-6">
                    <label><b>Born:</b><input class="maximum-width form-control" value="<%= author.birth %>"
                        name="updateAuthorBirthDay"></label>
                    <label><b>Died:</b><input class="maximum-width form-control" value="<%= author.death %>"
                        name="updateAuthorDeathDay"></label>
                    <label><b>Nationality:</b><input class="maximum-width form-control"
                        value="<%= author.nationality %>" name="updateAuthorNationality"></label>
                    <label><b>Language:</b><input class="maximum-width form-control" value="<%= author.language %>"
                        name="updateAuthorLanguage"></label>
                    <label><b>Genre(s):</b><input class="maximum-width form-control" value="<%= author.genre %>"
                        name="updateAuthorGenres"></label>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2">
                  </div>
                </div>
                <div id="biographyDiv">
                  <textarea id="updateAuthorBiography" name="updateAuthorBiography"><%- author.biography %></textarea>
                </div>
              </div>
              <div id="searchContainer" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <label>
                  <h3>Search for Books</h3>
                </label>
                <input class="full-width form-control" onkeyup="searchForBook(this.value)">
                <div id="searchResultsContainer"
                  class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 search-results-container">

                </div>
              </div>
              <div class="horizontal-scrolling-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div id="authorsBooks" class="card-body horizontal-container">
                  <% if (books) { %>
                  <% for (let i = 0; i < books.length; i++) { %>
                  <div id="<%= books[i].id %>-div" class="update-book-ref horizontal-container">
                    <input class="btn btn-outline-danger full-width row sm-remove-button book-image" type="button" value="Remove"
                      onclick="removeBookFromAuthor('<%= books[i].id %>')">
                    <input id="<%= books[i].id %>" class="book-image row" type="image" src="<%= books[i].image %>"
                      disabled>
                    <input name="editAuthorBooks" value="<%= books[i].id %>" hidden>
                  </div>
                  <% } %>
                  <% } %>
                </div>
              </div>
              <div class="row references-label">
                <label><b>References:</b></label>
                <ul id="unorderedEditReferenceList" class="row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

                  <% if (author.references) { %>
                  <% for (let i = 0; i < author.references.length; i++) { %>
                  <li class="full-width">
                    <input class="full-width margin-top-10 form-control" name="editReferenceList"
                      value="<%= author.references[i] %>">
                  </li>
                  <% } %>
                  <% } else { %>
                  <li class="full-width">
                    <input class="full-width margin-top-10 form-control" name="editReferenceList" value="">
                  </li>
                  <% } %>
                </ul>
                <div class="reference-buttons">
                  <input class="btn btn-outline-danger margin-top-10" type="button" value="Remove Reference"
                    onclick="removeReference()">
                  <input class="btn btn-outline-success margin-top-10" type="button" value="Add Reference"
                    onclick="addReference()">
                </div>
              </div>
              <div class="right-button-div">
                <input class="btn btn-outline-dark" type="submit" value="Update Author">
              </div>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("../partials/footer") %>

  <script src="/js/author/authorView.js"></script>
  <% if (userRole === 'admin') { %>
    <script src="/js/admin/editCommon.js"></script>
    <script src="/js/admin/editAuthor.js"></script>
  <% } %>

</body>

</html>