<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/admin.css" rel="stylesheet">

</head>

<body>
  <%- include("./partials/header") %>
  <div id="containerDiv" class="container jumbotron">
    <form class="row" action="/admin" method="post" >
      <div id="recommendedContainer" name="recommendedContainer"
        class="vertical-scrolling-wrapper side-bar col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
        <label>
          <h3>Recommended Books List</h3>
        </label>
        <nav class="vertical-container">
          <ul>
            <% for (let i = 0; i < recommendedBooks.length; i++) { %>
            <div id="<%= recommendedBooks[i].bookId %>" class="book-card card h-100">
              <img class="card-img-top" src="<%= recommendedBooks[i].book.image %>" alt="">
              <div class="card-body">
                <h4 class="card-title"><%= recommendedBooks[i].book.title %></h4>
                <p class="card-text"><%= recommendedBooks[i].book.author %></p>
              </div>
              <div id="cardFooter" class="card-footer">
                <a class="btn btn-danger no-href-button"
                  onclick="removeRecommendedBook('<%= recommendedBooks[i].bookId %>')">Remove</a>
              </div>
              <input type="text" name="bookId" class="form-control" value="<%= recommendedBooks[i].bookId %>" hidden>
            </div>
            <% } %>
          </ul>
        </nav>
      </div>
      <div id="searchContainer" class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
        <label>
          <h2>Add a Book to the Recommended list</h2>
          <h3>Search for Books</h3>
        </label>
        <input class="search-input" onkeyup="searchForBook(this.value)">
        <div id="searchResultsContainer" class="row search-results-container">

        </div>
      </div>
      <div class="row form-group form-control-buttons">
        <div class="col-xl-3 col-lg-3 col-md-3"></div>
        <div class="remove-button col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <a class="btn btn-danger no-href-button" href="/admin">Cancel</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12 col-xs-12"></div>
        <div class="add-button col-xl-2 col-lg-2 col-md-2 col-sm-12 col-xs-12">
          <input class="btn btn-primary" type="submit" value="Update">
        </div>
      </div>
    </form>
  </div>

  <%- include("./partials/footer") %>

  <script>
    var $recommendedContainer = $("#recommendedContainer");
    var $searchResultsContainer = $("#searchResultsContainer");

    function recommendedContainerSize(value) {
      if (!value) {
        $recommendedContainer.css({
          "max-height": $(window).height()
        })
      } else {
        $recommendedContainer.css({
          "max-height": value
        })
      }
    }
    $(window).bind("load", function () {
      recommendedContainerSize();
    });

    function removeRecommendedBook(bookToRemove) {
      $(`#${bookToRemove}`).remove();
    }

    function searchForBook(value) {
      $searchResultsContainer.empty();
      axios.get(`/search/books?query=${value}`).then((req) => {
        if (req.data.length) {
          req.data.forEach(element => {
            if ($recommendedContainer.find($(`#${element._id}`)).length == 0) {
              $searchResultsContainer.append(
                `
                <div id="${element._id}" class="col-lg-3 col-md-6 mb-4">
                  <div class="card h-100">
                    <img class="card-img-top" src="${element.image}" alt="">
                    <div class="card-body">
                      <h4 class="card-title">${element.title}</h4>
                      <p class="card-text">${element.author}</p>
                    </div>
                    <div id="cardFooter" class="card-footer">
                      <a class="btn btn-primary no-href-button"
                        onclick="addRecommendedBook('${element._id}')">Add</a>
                    </div>
                  </div>
                </div>
              `
              );
            }
          });
          recommendedContainerSize($searchResultsContainer.height());
        } else {
          recommendedContainerSize();
        }
      }).catch(err => {
      });
    }

    var Book = {
      image: String,
      title: String,
      author: String,
      _id: String
    }

    function addRecommendedBook(bookIdToAdd) {
      $(`#${bookIdToAdd}`).detach().appendTo($recommendedContainer.children("nav").children("ul"));
      $(`#${bookIdToAdd}`).removeClass("col-lg-3 col-md-6 mb-4");
      $(`#${bookIdToAdd}`).addClass("book-card card h-100");
      $(`#${bookIdToAdd}`).find("#cardFooter").children().remove();
      $(`#${bookIdToAdd}`).find("#cardFooter").append(
        `<a class="btn btn-danger no-href-button" onclick="removeRecommendedBook('${bookIdToAdd}')">Remove</a>`
      );
      $(`#${bookIdToAdd}`).append(
        `<input type="text" name="bookId" class="form-control" value="${bookIdToAdd}" hidden>`
      );
    }
  </script>
</body>

</html>