<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/authors.css" rel="stylesheet">

</head>

<body>
  <%- include("./partials/header") %>

  <div class="container">
    <div class="view-account container-content row">
      <div id="sideMenu" class="vertical-scrolling-wrapper side-bar col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <nav class="vertical-container side-menu">
          <ul class="nav">
            <% for (let i = 0; i < authors.length; i++) { %>
            <li <% if ( authors[i]._id.equals(author._id) ) { %> class="active" <% } %>>
              <a href="/authors/<%= authors[i]._id %>"><span class="fa fa-user"></span> <%= authors[i].name %></a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <div class="content-panel col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
        <div id="article" class="container row text-center">
          <div id="articleContent" lass="card h-100">
            <img class="card-img-top portrait" src="<%= author.image %>" alt="">
            <div class="card-body">
              <h4 class="card-title"><%= author.name %></h4>
              <div class="row">
                <div class="col-md-3 col-lg-3 col-xl-4">
                </div>
                <div class="card-body dateLabel col-md-6 col-lg-6 col-xl-6">
                  <label><b>Born:</b> <%= author.birth %></label>
                  <% if(author.death && author.death != "") { %><label><b>Died:</b> <%= author.death %></label><% } %>
                  <label><b>Nationality:</b> <%= author.nationality %></label>
                  <label><b>Language:</b> <%= author.language %></label>
                  <label><b>Genre(s):</b> <%= author.genre %></label>
                </div>
                <div class="col-md-3 col-lg-3 col-xl-2">
                </div>
              </div>
              <div id="biographyDiv">
                <%- author.biography %>
              </div>
            </div>
          </div>
          <% if (books) { %>
          <div class="horizontal-scrolling-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card-body horizontal-container">
              <% for (let i = 0; i < books.length; i++) { %>
              <a href="/books/<%= books[i].id %>">
                <img class="book-image" src="<%= books[i].image %>" alt="">
              </a>
              <% } %>
            </div>
          </div>
          <% } %>
          <% if (author.references) { %>
          <div class="row references-label">
            <label>References:</label>
            <ul>
              <% for (let i = 0; i < author.references.length; i++) { %>
              <li>
                <a href="<%= author.references[i] %>"> <%= author.references[i] %></a></li>
              <% } %>
            </ul>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <%- include("./partials/footer") %>

  <script>
    function positionFooter() {
      var footerHeight = 0,
        footerTop = 0,
        $footer = $("#footer");

      footerHeight = $footer.height();

      if (($(window).height() > $(document.body).height() + $footer.height())) {
        $footer.css({
          bottom: 0
        })
        $footer.css({
          width: "100%"
        })
        $footer.css({
          position: 'absolute'
        })
      } else {
        $footer.css({
          position: 'relative'
        })
      }
    }

    function sideListSize() {
      var $article = $("#article"),
        $sideMenu = $("#sideMenu"),
        $articleContent = $("#articleContent");

      if (window.matchMedia("(max-width: 767px)").matches) {
        $sideMenu.css({
          height: $articleContent.height()
        })
      } else {
        $sideMenu.css({
          height: $article.height()
        })
      }
    }

    $(window).bind("load", function () {
      positionFooter();
      sideListSize();
    });
    $(window).resize(function () {
      positionFooter();
      sideListSize();
    });

  </script>

</body>

</html>