<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/list-books-styles.css" rel="stylesheet">

</head>

<body>
  <%- include("./partials/header") %>

  <div class="container">
    <header class="jumbotron my-4">
      <h1>Welcome to Alexandria Library</h1>
      </br>
      <h2 class="display-5">Recommended books!</h2>
      <div class="horizontal-scrolling-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-body horizontal-container">
          <% for (let i = 0; i < recommendedBooks.length; i++) {%>
          <a class="recommendedContainer" href="/books/<%= recommendedBooks[i].bookId %>">
            <img class="recommendedImage" src="<%= recommendedBooks[i].book.image %>" alt=""></a>
          <% } %>
        </div>
      </div>
    </header>

    <div class="row text-center" id='infiniteList'>
      <% for (let i = 0; i < books.length; i++) {%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="/books/<%= books[i]._id %>"><img class="card-img-top" src="<%= books[i].image %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title"><%= books[i].title %></h4>
            <p class="card-text"><%= books[i].author %></p>
          </div>
          <div class="card-footer">
            <a href="/books/<%= books[i]._id %>" class="btn btn-primary">Read More!</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div id="loader" class="loader"></div>

  </div>

  <%- include("./partials/footer") %>

  <script>
    let nextPage = 1,
      morePages = true,
      $loader = $("#loader"),
      $footer = $("#footer"),
      $infiniteList = $("#infiniteList");
    $loader.fadeOut();

    function getNextPage() {
      clearTimeout(timer);
      timer = setTimeout(() => {
        let value = ++nextPage;
        axios.get(`/books?page=${value}`).then((req) => {
          if (req.data.length > 0) {
            req.data.forEach(element => {
              $infiniteList.append(`
              <div class="col-lg-3 col-md-6 mb-4">
                <div class="card h-100">
                  <a href="/books/${element._id}"><img class="card-img-top" src="${element.image}" alt=""></a>
                  <div class="card-body">
                    <h4 class="card-title">${element.title}</h4>
                    <p class="card-text">${element.author}</p>
                  </div>
                  <div class="card-footer">
                    <a href="/books/${element._id}" class="btn btn-primary">Read More!</a>
                  </div>
                </div>
              </div>
              `);
            });
          } else {
            morePages = false;
            $loader.remove();
          }
        }).catch(err => {
          console.log(err);
        });
      }, 250);
    }

    // Detect when scrolled to bottom.
    $(window).scroll(function () {
      if (morePages && $(window).scrollTop() >= $(document).height() - $(window).height() - 72) {
        $loader.fadeIn();
        getNextPage();
        $loader.fadeOut();
      }
    });
  </script>
</body>

</html>