<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/list-books-styles.css" rel="stylesheet">

</head>

<body>
  <%- include("./partials/header") %>

  <div id="content" class="container jumbotron book-jumbotron">
    <div class="row text-center">
      <div class="book-card col-xl-3">
        <img class="book-detail-image card-img-top" src="<%= book.image %>" alt="">
        <div class="card-body">
          <h4 class="card-title"><i><%= book.title %></i></h4>
          <p class="card-text"><b>Author: </b>
            <% if (authorId) { %>
            <a href="/authors/<%= authorId %>">
              <% } %>
              <%= book.author %>
              <% if (authorId) { %>
            </a>
            <% } %>
          </p>
          <p class="card-text"><b>Publication date: </b> <%= book.published %></p>
          <p class="card-text"><b>Language: </b> <%= book.language %></p>
          <p class="card-text"><b>Genre: </b> <%= book.genre %></p>
        </div>
      </div>
      <div class="bookDescription col-xl-9">
        <%- book.description %>
      </div>
    </div>
    <% if (book.references) { %>
    <div class="row references-label">
      <label>References:</label>
      <ul>
        <% for (let i = 0; i < book.references.length; i++) { %>
        <li>
          <a href="<%= book.references[i] %>"> <%= book.references[i] %></a></li>
        <br>
        <% } %>
      </ul>
    </div>
    <% } %>
  </div>

  <%- include("./partials/footer") %>

  <script>
    function positionFooter() {
      var footerHeight = 0,
        footerTop = 0,
        $footer = $("#footer");

      footerHeight = $footer.height();

      if (($(window).height() > $(document.body).height() + $footer.height())) {
        $footer.css({
          bottom: 0
        })
        $footer.css({
          width: "100%"
        })
        $footer.css({
          position: 'absolute'
        })
      } else {
        $footer.css({
          position: 'relative'
        })
      }
    }

    $(window).bind("load", function () {
      positionFooter();
    });
    $(window).resize(function () {
      positionFooter();
    });

  </script>

</body>

</html>