<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title id="title"><%=title%></title>

  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/styles.css" rel="stylesheet">
  <link href="/css/books.css" rel="stylesheet">

</head>

<body>
  <%- include("../partials/header") %>

  <div class="container">
    <header class="jumbotron text-center my-4">
      <h1>Welcome to Alexandria Library</h1>
      <h2 class="display-5 text-center">Recommended books!</h2>
      <div class="horizontal-scrolling-wrapper row col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card-body horizontal-container">
          <% for (let i = 0; i < recommendedBooks.length; i++) {%>
          <a class="recommendedContainer" href="/books/<%= recommendedBooks[i].bookId %>">
            <img class="recommendedImage" src="<%= recommendedBooks[i].book.image %>" alt=""></a>
          <% } %>
        </div>
      </div>
    </header>

    <div class="row text-center" id='infiniteList'>
      <% for (let i = 0; i < books.length; i++) {%>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <a href="/books/<%= books[i]._id %>"><img class="card-img-top" src="<%= books[i].image %>" alt=""></a>
          <div class="card-body">
            <h4 class="card-title"><%= books[i].title %></h4>
            <p class="card-text"><%= books[i].author %></p>
          </div>
          <div class="card-footer">
            <a href="/books/<%= books[i]._id %>" class="btn btn-primary">Read More!</a>
          </div>
        </div>
      </div>
      <% } %>
    </div>
    <div id="loader" class="loader"></div>

  </div>

  <%- include("../partials/footer") %>

  <script src="/js/books/infiniteScroll.js"></script>

</body>

</html>